@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


.diseniar{
    text-decoration: none;
    color: white;
}

.errorcon{
    text-decoration: none;
    color: white;
      font-family: 'Fjalla One', sans-serif;
}
.entendido{
    text-decoration: none;
    color: white;
      font-family: 'Fjalla One', sans-serif;
}
.rojo{
    color: #8B0000;
}
body{
  font-family: 'Fjalla One', sans-serif;
  background: url('../../Imagenes/galeriak.jpg')  center center;
}


form{
  /* border-color: #F85D03; border-width: 1px; border-style: solid;
   border-radius: 15px; */
    border-radius: 15px;
    margin: 0 auto;
    width: 510px;
    height: auto; 
   /* height: 1600px;*/
    margin-top: 80px;
    background-color: rgba(255,255,255,0.92); 
}

.sub{
   margin: 30px;
  /*height: 1490px;*/
  height: auto;
  background: white;
  border-radius: 5px;

}

.imcambiar{
  margin-top: 20px;
  margin-left: 120px;
}
.labels1{
  font-family: 'Fjalla One', sans-serif;
  padding-top: 10px;
  padding-left: 40px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 20px;
  color: black;
}
.labels{
  font-family: 'Fjalla One', sans-serif;
  padding-top: 10px;
  padding-left: 40px;
  font-size: 18px;
  margin-bottom: 20px;
  color: black;
}


input[type=text]{
   padding: 8px;
   margin-left: 40px;
    font-size: 16px;
    outline: none;
    width: 370px;
     font-family: 'Fjalla One', sans-serif;
   /* margin-left: 20px;*/
  /*   border-color: #F85D03; 
    border-width: 3px;
   border-style: solid;*/
   border-radius:5px;
   margin-bottom: 20px;
}

.txtarea{
  padding: 5px;
  margin-left: 40px;
  /*   border-width: 3px;
   border-style: solid;
   border-radius:5px;
   border-color: black; */
   font-family: 'Fjalla One', sans-serif;
   font-size: 16px;
}

select{
   padding: 8px;
   margin-left: 50px;
   margin-bottom: 10px;
    font-size: 16px;
    outline: none;
    width: 390px;
     font-family: 'Fjalla One', sans-serif;
    border-color: #000000;
    border-width: 3px;
   border-style: solid;
   border-radius:5px;
}

table{
  border-width: 3px;
   border-style: solid;
   border-radius:9px;
   border-color: #000000;
}
.sub2{
   margin: 20px;
  height: 495px;
  background: white;
}

.theadtitulo{
  background: #F85D03;
 font-family: 'Fjalla One', sans-serif;
 font-size: 20px;
  color: white;
}



th{
  padding:18px;
}

.st{
  padding-right: 145px;
}

.tbodys{
 font-family: 'Fjalla One', sans-serif;
 font-size: 18px;
  color: black;
}

.tds{
  padding-top: 20px;
  padding-left: 8px;
 padding-bottom: 10px;
}

.pedidos{
    text-align: center;
    background: #F85D03;
    width: 460px;
    margin-left: 20px;
     font-family: 'Fjalla One', sans-serif;
     color: white;
     padding: 6px;
     font-size: 14pt;
     border-style: solid;
   border-radius:9px;
   border-color: #000000;
}

.registrarproductos{
  padding-top: 20px;
  text-align: center;
  color: black;
}

.botregis{
  margin-top: 30px;
 padding: 12px;
 border-radius: 9px;
   margin-left: 40px;
    font-size: 16px;
    outline: none;
    width: 370px;
    background: #F85D03;
    cursor: pointer;
    color: white;
     font-family: 'Fjalla One', sans-serif;
   /* margin-left: 20px;*/
  /*   border-color: #F85D03; */
    border-width: 3px;
   border-style: solid;
   border-radius:6px;
   margin-bottom: 40px;
}

